/*
	AnythingSlider v1.7+ themes
	Mini Light theme
	by Rob Garrison (aka Mottie)
*/

/****************************
 SET DEFAULT DIMENSIONS HERE
 ****************************/
/* Change the ID to match your slider */
#slider {
	width: 700px;
	height: 390px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}

/* Opera width restriction */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	/* override the #slider overflow above, once the class is added */
	overflow: visible !important;
}

/*************
 ACTIVE STATE (slider has keyboard focus)
 *************/
#aswrapper div.anythingSlider-mini-light.activeSlider .arrow a {
	opacity: 0.80;
	filter: alpha(opacity=80);
}
#aswrapper div.anythingSlider-mini-light.activeSlider .anythingControls {
	opacity: 0.80;
	filter: alpha(opacity=80);
}

/*****************
 DEFAULT STATE (no keyboard focus)
 *****************/
/* Overall Wrapper */
#aswrapper div.anythingSlider-mini-light {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0; /* adjust left/right padding here to move arrows towards or away from the center */
}

/* all panels inside the slider; horizontal mode */
#aswrapper div.anythingSlider .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
/* vertical mode */
#aswrapper div.anythingSlider .vertical .panel {
	float: none;
}

/* fade mode */
#aswrapper div.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
/* fade mode active page - visible & on top */
#aswrapper div.anythingSlider .fade .activePage {
	z-index: 1;
}

/* Slider window - top & bottom borders, default state */
#aswrapper div.anythingSlider-mini-light .anythingWindow {
	border: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* Arrow buttons position */
#aswrapper div.anythingSlider-mini-light .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
#aswrapper div.anythingSlider-mini-light span.back {
	left: 0;
}
#aswrapper div.anythingSlider-mini-light span.forward {
	right: 0;
}
/* Arrow buttons images */
#aswrapper div.anythingSlider-mini-light .arrow a {
	display: block;
	background: transparent url(../images/mini-light.png) no-repeat;
	height: 42px;
	width: 22px;
	text-align: center;
	text-decoration: none;
	outline: 0;
	margin: -21px 0 0; /* set to 1/2 height */
	opacity: 0.50;
	filter: alpha(opacity=50);
}
#aswrapper div.anythingSlider-mini-light .arrow a:hover {
	opacity: 0.80;
	filter: alpha(opacity=80);
}
#aswrapper div.anythingSlider-mini-light .back a {
	background-position: left top;
}
#aswrapper div.anythingSlider-mini-light .forward a {
	background-position: right top;
}
#aswrapper div.anythingSlider-mini-light .back a:hover,
#aswrapper div.anythingSlider-mini-light .back a.hover {
	background-position: left -43px;
}
#aswrapper div.anythingSlider-mini-light .forward a:hover,
#aswrapper div.anythingSlider-mini-light .forward a.hover {
	background-position: right -43px;
}

/* Disabled arrows - infiniteSlide = false & stopAtEnd = true */
#aswrapper div.anythingSlider-mini-light .back.disabled,
#aswrapper div.anythingSlider-mini-light .forward.disabled {
	display: none;
}

/* Navigation tabs - Slider control block */
#aswrapper div.anythingSlider-mini-light .anythingControls {
	outline: 0;
	float: right;
	position: absolute;
	bottom: 6px;
	right: 25px;
	z-index: 100;
	opacity: 0.50;
	filter: alpha(opacity=50);
}
#aswrapper div.anythingSlider-mini-light .anythingControls:hover {
	opacity: 0.80;
	filter: alpha(opacity=80);
}
/* control list */
#aswrapper div.anythingSlider-mini-light .anythingControls ul {
	float: left;
	margin: 0;
	padding: 0;
	z-index: 100;
}
/* control tabs */
#aswrapper div.anythingSlider-mini-light .anythingControls ul li {
	display: block;
	float: left;
}
/* control links */
#aswrapper div.anythingSlider-mini-light .anythingControls ul a {
	display: block;
	background: transparent url(../images/mini-light.png) no-repeat left -85px; /* default tab, active/inactive slider */
	text-decoration: none;
	width: 11px;
	height: 11px;
	margin: 0;
	padding: 0;
	outline: 0;
}
/* control nav window (navigationSize = true) */
#aswrapper div.anythingSlider-mini-light .anythingControls .anythingNavWindow {
	overflow: hidden;
	float: left;
}
#aswrapper div.anythingSlider-mini-light .anythingControls ul a.hover,
#aswrapper div.anythingSlider-mini-light .anythingControls ul a:hover {
	background-position: left bottom;
}
#aswrapper div.anythingSlider-mini-light .anythingControls ul a.cur {
	background-position: -11px -85px;
}
#aswrapper div.anythingSlider-mini-light .anythingControls ul a.cur:hover {
	background-position: -11px bottom;
}

/* Start/stop button - stopped */
#aswrapper div.anythingSlider-mini-light .start-stop {
	background: transparent url(../images/mini-light.png) no-repeat -22px -85px;
	color: #ddd;
	width: 11px;
	height: 11px;
	padding: 0;
	float: right;
	z-index: 100;
	outline: 0;
}
/* Start/stop button - stopped */
#aswrapper div.anythingSlider-mini-light .start-stop:hover,
#aswrapper div.anythingSlider-mini-light .start-stop.hover {
	background-position: -22px bottom;
}
/* start/stop button - playing */
#aswrapper div.anythingSlider-mini-light .start-stop.playing {
	background-position: right -85px;
}
#aswrapper div.anythingSlider-mini-light .start-stop.playing:hover,
#aswrapper div.anythingSlider-mini-light .start-stop.playing.hover {
	background-position: right bottom;
}

/* Navigation size window arrows */
#aswrapper div.anythingSlider-mini-light .anythingControls li.next a span, #aswrapper div.anythingSlider-mini-light .anythingControls li.prev a span {
	text-indent: 1px;
	padding: 4px 0 0 3px;
	font-size: 8px;
}
#aswrapper div.anythingSlider-mini-light .anythingControls li.prev a, #aswrapper div.anythingSlider-mini-light .anythingControls li.next a {
	color: #ddd;
}
#aswrapper div.anythingSlider-mini-light .anythingControls li.next a:hover, #aswrapper div.anythingSlider-mini-light .anythingControls li.prev a:hover {
	color: #000;
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* text indent moved to span inside "a", for IE7; apparently, a negative text-indent on an "a" link moves the link as well as the text */
#aswrapper div.anythingSlider-mini-light .arrow a span, #aswrapper div.anythingSlider-mini-light .anythingControls ul a span, #aswrapper div.anythingSlider-mini-light .start-stop span {
	display: block;
	line-height: 1px; /* needed for IE7 */
	width: 0;
	visibility: hidden; /* needed for IE8, instead of text-indent: -9999px */
}

/* AnythingSlider IE7 and older styling */
#aswrapper div.as-oldie div#aswrapper div.anythingSlider .arrow {
	margin: 0;
}
/* When using the navigationSize option, the side margins need to be zero
   None of the navigation panels look good in IE7 now =( */
#aswrapper div.as-oldie div#aswrapper div.anythingSlider .anythingControls {
	margin: 0 0 0 30px;
}
#aswrapper div.as-oldie div#aswrapper div.anythingSlider .anythingControls ul.thumbNav a {
	margin: 0 0 0 2px;
}
#aswrapper div.as-oldie div#aswrapper div.anythingSlider .anythingControls .anythingNavWindow li {
	padding: 3px 0 0 0;
}
#aswrapper div.as-oldie div#aswrapper div.anythingSlider .anythingControls {
	display: block;
	width: 95%; /* arbitrary percentage, adjust to fit your slider in IE7 */
	margin: 0;
}
