/* wrapper backgrounds by Rob Garrison (aka Mottie) */
#aswrapper {
	padding: 40px;
	margin: 0 auto;
}

/*************
 Light Wood image
 *************/
#aswrapper.light-wood {
	background-image: -moz-repeating-radial-gradient(50% 50%, circle cover, rgba(117, 117, 117, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/bkgd-wood2.jpg);
	background-image: -webkit-repeating-radial-gradient(50% 50%, circle cover, rgba(117, 117, 117, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/bkgd-wood2.jpg);
	background-image: repeating-radial-gradient(50% 50%, circle cover, rgba(117, 117, 117, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/bkgd-wood2.jpg);
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

.as-oldie #aswrapper.light-wood {
	background-image: url(../images/bkgd-wood2.jpg);
}
